<IfModule mod_rewrite.c>

RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.cms.tigerweb\.vn [NC]
RewriteRule ^(.*)$ http://cms.tigerweb.vn/$1 [L,R=301]

RewriteRule ^uploads/ - [L]

RewriteRule sitemap.xml - [L]

RewriteRule ^(frontend|backend)/web/ - [L]

RewriteRule ^index.php - [L]

RewriteRule ^admin(/(.*))?$ backend/web/$2 [S=1]

RewriteRule .* frontend/web/$0

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+/web)/.*$ $1/index.php

</IfModule>